<% include header %>
<% if (locals.error){ %>
<div class="alert alert-danger" id="errordiv" role="alert">
  <%= error %>
</div>
<% } %>
<div class="container-fluid">
  <div class="row-fluid">
    <legend>Création de compte</legend>
    <form action="/process" method="post">

      <input type="hidden" name="form" value="signup">

      <div class="form-group col-md-3">
        <label for="nom">Nom :</label>
        <input type="text" class="form-control" name="nom" id="nom" value="<%= locals.nom %>">
      </div>

      <div class="form-group col-md-3">
        <label for="prenom">Prénom :</label>
        <input type="text" class="form-control" name="prenom" id="prenom" value="<%= locals.prenom %>">
      </div>

      <div class="form-group col-md-3">
        <label for="societe">Société :</label>
        <input type="text" class="form-control" name="societe" id="societe" value="<%- locals.societe %>">
      </div>

      <div class="form-group col-md-3">
        <label for="adresse">Adresse postale :</label>
        <input type="text" class="form-control" name="adresse" id="adresse" value="<%- locals.adresse %>">
      </div>

      <div class="form-group col-md-3">
        <label for="mail">Adresse mail :</label>
        <span><i id="mailvalidator" class="fas fa-times-circle text-danger"></i></span>
        <input type="email" class="form-control" name="mail" id="mail" value="<%- locals.mail %>">
      </div>

      <div class="form-group col-md-3">
        <label for="telephone">Téléphone :</label>
        <input type="tel" class="form-control" name="telephone" id="telephone" value="<%- locals.telephone %>" pattern="^[0-9]{10}$" title="Phone number please">
      </div>

      <div class="form-group col-md-3">
        <label for="user">Nom d'utilisateur :</label>
          <span><i id="uservalidator" class="fas fa-times-circle text-danger"></i></span>
        <input type="text" class="form-control" name="user" id="user" value="<%- locals.user %>">
      </div>

      <div class="form-group col-md-3">
        <label for="pass">Mot de passe :</label>
        <input type="password" class="form-control" name="pass" id="pass" value="<%- locals.pass %>">
      </div>

      <div class="form-group col-md-3">
        <label for="passconf">Confirmation :</label>
        <input type="password" class="form-control" name="passconf" id="passconf" value="<%- locals.passconf %>">
      </div>

      <button type="submit" class="btn btn-primary">Créer ce compte</button>

      <a href="/signin" class="btn btn-success">J'ai déjà un compte</a>

    </form>
  </div>
</div>

<% include footer %>
