<% include header %>
<% if (locals.error){ %>
<div class="alert alert-danger" id="errordiv" role="alert">
  <%= error %>
</div>
<% } %>
<div class="container-fluid">
  <div class="row-fluid">
    <legend>Création de compte</legend>
    <form action="/process" method="post">

      <input type="hidden" name="form" value="signup">

      <div class="form-group col-md-3">
        <label for="nom">Nom :</label>
        <input type="text" class="form-control" name="nom" id="nom" value="<%- nom %>">
      </div>

      <div class="form-group col-md-3">
        <label for="prenom">Prénom :</label>
        <input type="text" class="form-control" name="prenom" id="prenom" value="<%- prenom %>">
      </div>

      <div class="form-group col-md-3">
        <label for="societe">Société :</label>
        <input type="text" class="form-control" name="societe" id="societe" value="<%- societe %>">
      </div>

      <div class="form-group col-md-3">
        <label for="adresse">Adresse postale :</label>
        <input type="text" class="form-control" name="adresse" id="adresse" value="<%- adresse %>">
      </div>

      <div class="form-group col-md-3">
        <label for="mail">Adresse mail :</label>
        <input type="text" class="form-control" name="mail" id="mail" value="<%- mail %>">
      </div>

      <div class="form-group col-md-3">
        <label for="user">Nom d'utilisateur :</label>
        <input type="text" class="form-control" name="user" id="user" value="<%- user %>">
      </div>

      <div class="form-group col-md-3">
        <label for="pass">Mot de passe :</label>
        <input type="password" class="form-control" name="pass" id="pass" value="<%- pass %>">
      </div>

      <div class="form-group col-md-3">
        <label for="passconf">Confirmation :</label>
        <input type="password" class="form-control" name="passconf" id="passconf" value="<%- passconf %>">
      </div>

      <button type="submit" class="btn btn-primary">Créer ce compte</button>

      <a href="/signin" class="btn btn-success">J'ai déjà un compte</a>

    </form>
  </div>
</div>

<% include footer %>
